<%= form_with(model: faculty, class: "max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md border-t-4 border-cyan-500 shadow-lg rounded-lg p-6 space-y-4 my-5") do |form| %>
<% if faculty.errors.any? %>
<div class="bg-red-100 text-red-700 p-4 rounded-md mb-4">
  <h2 class="text-lg font-semibold"><%= pluralize(faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>
  <ul class="list-disc pl-5">
    <% faculty.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="mb-4">
  <%= form.label :name, "Name", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.text_field :name, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :position, "Position", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.text_field :position, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :degree, "Degree", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.text_field :degree, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :aicte_id, "AICTE ID", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.text_field :aicte_id, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :mail, "Email", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.email_field :mail, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :experience, "Experience", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.text_field :experience, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-cyan-500" %>
</div>

<div class="mb-4">
  <%= form.label :image, "Upload Image", class: "block text-gray-700 font-medium mb-1" %>
  <%= form.file_field :image, class: "w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:border-indigo-500" %>
</div>

<div class="mt-6">
  <%= form.submit "Save Faculty", class: "w-full bg-cyan-500 text-white font-semibold py-2 rounded-md hover:bg-cyan-600 transition duration-200" %>
</div>
<%= link_to "back", faculties_path, class:"text-gray-600 text-center text-lg"%>
<% end %>