<div class="max-w-sm mx-auto bg-white border-t-4 border-cyan-500 shadow-lg rounded-lg p-6 space-y-4 my-5">
  <h2 class="text-xl font-semibold text-cyan-600">Student Information</h2>
  <hr />
  <div class="text-gray-700 flex flex-col items-start">
    <p><strong>USN:</strong> <%= @student.usn %></p>
    <p><strong>Name:</strong> <%= @student.name %></p>
    <p><strong>Guide:</strong> <%= @student.guide.name %></p>
    <p><strong>Mini Project:</strong> <%= @student.mini %></p>
    <p><strong>Major Project:</strong> <%= @student.major %></p>
  </div>
</div>